
/*Reference: <https://www.youtube.com/watch?v=_Ai-_nZ6bw4&list=PLpcSpRrAaOaqfJ5uIRikm04Gd5X5aiqSB>*/
/*			 <https://www.w3schools.com> */



html{
	max-width: 100%;
	right:0;
	bottom:0;
	left:0;
	top:0;
}

body {
	font-family: Arial, sans-serif;
	background-color:white; 
	display: block;
	position: relative;
	margin:0;
}


html, body {
    overflow-x: hidden;
    overflow-y: auto;
}



#container {
	width: 100%;
	padding-top: 30px;
	margin: 0 auto;
	background-color: white;
	opacity:0.9;
	right:0;
	bottom:0;
	left:0;
	top:0;
	max-width:100%;
}



#center{
	text-align:center;
}
/*dropdown*/
.dropbtn{
  padding-right:10px;
  padding-left:10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border:none;
}	
.dropbtn:hover{
	color:rgb(82, 80, 76);
	
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index:4;
}

.dropdown-content {
  z-index:5;
  display: none;
  font-size:14px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  text-align:left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown-content:nth-child(1){
	padding-bottom:20px;
	height:100px;
}
.dropdown-content select{
	width:70px;
}
#slider{
	min-width:20%;
	width:300px;
	height:15px;
	font-size:10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  left: -73px;
}

#sliderbox{
	height:30px;
}

#LP,#MP{
	width:50px;
}

.datepicker{
	background: #fff; 
	cursor: pointer; 
	padding: 2px 8px; 
	border: 1px solid #ccc; 
	width: 100%;
}

/*dropdown end*/

/*Search Menu*/
.SearchMenu{
	display:block;
	width:100%;
	top:0;
	position:fixed;
}
.Title{
	font-family:'Oxanium',serif;
}
#nav {
	height:50px;
	width:100%;
	margin-top:0;
	margin-bottom:0;
	padding-left: 3%;
	padding-right:3%;
	opacity:1;
	z-index:3;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(117,117,117,0.54) 0%, rgba(220,228,232,1) 0%, rgba(234,245,249,0) 100%, rgba(185,203,209,0) 100%, rgba(152,186,193,0.3676821070224965) 100%, rgba(1,31,37,0.4573179613642332) 100%);
}

#nav li{
	font-size:18px;
	vertical-align:center;
	list-style: none;
	float: left;
	padding: 0 5px 0 0;
	text-align:center;
}


#nav li:nth-child(4),li:nth-child(6),li:nth-child(2),li:nth-child(7){
	margin-top:15px;
}

#nav li:nth-child(5){
	margin-top:10px;
	margin-right:2%;
}


#nav li:nth-child(5),li:nth-child(6),li:nth-child(7){
	margin-left:2%;
	text-align:center;
}

#nav li:nth-child(3){
	margin-top:13px;
	margin-left:30px;
}

	
/*search-container*/
.search-container {
  display:initial;
  margin:auto 0;
  text-align:center;
}

#keysearch{
  float:left;
  height:26px;
  font-size: 16px;
  border-style: inset;
  border-radius:4px;
  width:80%;
  border-color:grey;
}

.search-container button {
  padding: 3px 10px;
  float:left;
  border-style: none;
  background:transparent;
  font-size: 18px;
  cursor: pointer;
  color:grey;
}

.search-container button:hover {
  color: black;
}


#lowp,#higp{
	margin-right:10px;
	height:20px;
	font-size: 15px;
	width:100px;
}

#body {
	line-height: 1.6em;
	background-color:white;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* End hide from IE-mac */
/* @end */
	
/**/
#options{
	position:relative;
}

#nolink a:hover{
	cursor:default;
	text-align:center;
	color:white;
	background-color:#111111;
}

#body h2{
	text-align:center;
	font-family:serif;
}

/*main*/

.main {
	margin-top:20px;
	margin-left:1%;
	min-width:240px;
	margin-right:1%;
	margin-bottom:40px;
	width:38%;
	float:left;
	height:auto;
}

.main-inner {
	overflow-y: auto;
	padding: 0px 1% 0 0;
	text-indent:8%;
	margin-left:3px;
	font-family:serif;
	padding-bottom:10px;
}

.HousingList li{
	list-style-type:none;
}

.Gallery{
	float:left;
	width:38%;
	border-radius:5px;
	border-width:2px;
	border-color:grey;
}

.Listing{
  border: 2px solid silver;
  border-radius: 10px;
  padding: 5px;
  overflow:auto;
  margin-bottom:10px;
  margin-top:10px;
}

.description{
	float:left;
	text-align:left;
	width:60%;
}
.description h4{
	color:grey;
	display: block;
    width: 100%;
	overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;
}
.description h3{
	margin-top:-30px;
}

.description p{
	float:right;
}
.MapArea {
	right: 0;
    position: fixed;
    background-color: #ffc311;
    height: auto;
    top: 50px;
    padding-top: 0;
    font-family: 'Indie Flower',serif;
    text-indent: 10%;
    line-height: 1.5em;
    margin-right: 0;
    text-align: left;
    width: 60%;
    margin-left: 0;
    min-width: 240px;
    float: left;
    bottom: 30px;
    z-index:-1
}

#map {
	width: 100%;
	height: 100%;
}

/*form*/
.formcolumn{
	width:100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #738294;
}

textarea {
  width: 100%;
  height: 150px;
  padding:12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
	


#bold{
	font-weight:bold;
}

.clear { 
	clear: both; 
	height: 70px; 
}


#footer {
	font-size:10px;
	bottom:0;
	position:fixed;
	height:30px;
	width:100%;
	background-color: #f7f7f7;
	color: grey;
}

#footerleft{
	float:left;
	padding:10px 20px;
	width:40%;
}

#footerright{
	float:right;
	padding:10px 20px;
	width:50%;
	text-align:right;
}


#body{
	padding-bottom:20px;
}

.loader {
		width: 100%;
       	height: 100%;
       	position: fixed;
    	z-index: 999;
    	background:#191F26;
    	opacity: .9;
}
.loader img{  
        max-height: 100%;  
        max-width: 100%; 
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
}


@media only screen and (max-width: 800px){
	.main-inner{
		text-indent: 0px;
	}
}

.main ul{
	padding-inline-end:40px;
}

@media only screen and (max-width: 500px){
	.main-inner ul{
		padding-inline-start: 0px;
		padding-inline-end:0px;
	}
}

#defaultUI,
#priceUI,
#distanceUI,
#centerUI,
#circleUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}

#defaultText,
#priceText,
#distanceText,
#centerText,
#circleText {
  color: #191919;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  width: 80px;
  padding-right: 10px;
}

#priceUI,
#distanceUI {
  margin-left: 12px
}

#centerUI,
#circleUI {
	margin-left: 50px;
}

/*Page*/


.bi bi-chevron-left{
	margin:0 auto;
}
.pageblock{
	float:left;
	width:80%;
}

#pagebutton{
	margin:0 auto;
	text-align:center;
}

#Nextpage, #Prepage{
  font-size:14px;
  float:left;
  background-color: #f9f9f9;
  width:5%;
  text-align:center;
  border-radius:50%;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

#Nextpage:hover, #Prepage:hover{
	background-color:grey;
	color:white;
}

.bi bi-chevron-right{
	margin:0 auto;
}
